<div class="new-form">
  <a href="/login"> <button class="ui inverted button float-right" ><b> Back To Login </b></button> </a>
  <center>
    <%= form_for @room, url: room_index_path, method: :post, html: { class: "ui form signup" } do |f| %>
      <div class="field">
        <h2 class="white">Please fill to create a new chat Room!</h2>
        <%= f.label :title, "Title", class: "new-lable" %>
        <%= f.text_field :title, placeholder: "Chat Room title", title: "title" %><br/><br/>
        <div class="ui checkbox">
          <%= f.check_box :is_private %>
          <%= f.label :is_private, "Private", class: "new-lable" %>
        </div>
      </div>
      <%= f.submit "Submit", class: "ui button", type: "submit" %>
    <% end %>
  </center>
</div>
